.carousel-inner img {
    min-height: 200px;
    max-height: 200px;
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .carousel-inner img {
        min-height: 550px;
        max-height: 55px;
    }
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .carousel-inner img {
        min-height: 550px;
        max-height: 55px;
    }
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .carousel-inner img {
        min-height: 550px;
        max-height: 55px;
    }
    
 }

.text-c-bolder{
    font-weight: bolder;
}

.carousel-caption-c {
    top: 2% !important;
    left: 2% !important;
    right: auto !important;
    bottom: auto !important;
}
